//! HEADER
@media screen and (min-width:1550px) {
    body {
        header {
            #videoContainer {
                width: auto;
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width:1550px) {
    body {
        header {
            #videoContainer {
                width: auto;
                height: 850px;
            }
        }
    }
}

@media screen and (max-width:1330px) {
    body {
        header {
            #videoContainer {
                height: 770px;
            }
        }
    }
}

@media screen and (max-width:1210px) {
    body {
        header {
            #videoContainer {
                height: 700px;
            }
        }
    }
}

@media screen and (max-width:1159px) {
    body {
        header {
            #videoContainer {
                #text {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:1060px) {
    body {
        header {
            #videoContainer {
                height: 600px;
            }
        }
    }
}

@media screen and (max-width:940px) {
    body {
        header {
            #videoContainer {
                height: 500px;
            }
        }
    }
}

@media screen and (max-width:866px) {
    body {
        header {
            #videoContainer {
                height: 450px;
            }
        }
    }
}

@media screen and (max-width:741px) {
    body {
        header {
            #videoContainer {
                height: 400px;
            }
        }
    }
}

@media screen and (max-width:551px) {
    body {
        header {
            #videoContainer {
                height: 300px;

                video {
                    top: 0;
                }
            }
        }
    }
}

@media screen and (max-width:530px) {
    body {
        header {
            #videoContainer {
                height: 350px;

                video {
                    top: 24px;
                }
            }
        }
    }
}

@media screen and (max-width:460px) {
    body {
        header {
            #videoContainer {
                height: 310px;
            }
        }
    }
}

@media screen and (max-width:401px) {
    body {
        header {
            #videoContainer {
                height: 280px;
            }
        }
    }
}

//! MAIN
@media screen and (max-width:1098px) {
    body {
        main {
            #projects {
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;

                .project {
                    width: 90%;
                    height: 500px;

                    &Inside {
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:976px) {
    body {
        main {
            #projects {

                .project {
                    height: 450px;
                }
            }
        }
    }
}

@media screen and (max-width:784px) {
    body {
        main {
            #projects {

                .project {
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:681px) {
    body {
        main {
            #precentStudy {

                h1 {
                    font-size: 30px;
                }

                p {
                    display: none;
                }
            }

            #projects {
                .project {
                    height: 350px;
                }
            }
        }
    }
}

@media screen and (max-width:568px) {
    body {
        main {
            #precentStudy {

                h1 {
                    font-size: 24px;
                }
            }

            #projects {
                .project {
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:488px) {
    body {
        main {
            #precentStudy {

                h1 {
                    font-size: 22px;
                }
            }

            #projects {
                .project {
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:401px) {
    body {
        main {
            #precentStudy {

                h1 {
                    font-size: 20px;
                }
            }

            #projects {
                .project {
                    height: 170px;
                }
            }
        }
    }
}


//! FOOTER
@media screen and (max-width: 1067px) {
    body {
        footer {
            form {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 40px;

                    &::before {
                        left: 39%;
                    }
                }
            }

            form {
                flex-direction: column-reverse;

                #formRight,
                #formLeft {
                    width: 100%;
                    border: none;
                }

                #formRight {
                    height: 300px;
                    flex-direction: row;
                    flex-wrap: wrap;

                    #sendUsAMessageText {
                        display: none;
                    }

                    .info {
                        width: 45%;
                    }

                    #socialMedias {
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 621px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 30px;

                    &::before {
                        left: 39%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 561px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 30px;

                    &::before {
                        left: 34%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 533px) {
    body {
        footer {
            form {
                #formRight {
                    height: auto;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 30px 10px;

                    #sendUsAMessageText {
                        display: none;
                    }

                    .info {
                        align-items: center;
                        width: 100%;

                        p {
                            text-align: center;
                        }
                    }

                    #socialMedias {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 401px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 26px;

                    &::before {
                        left: 28%;
                    }
                }
            }
        }
    }
}