//! HEADER
@media screen and (min-width: 1550px) {
    body {
        header {
            #video {
                // width: 100%;
                height: 100vh;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    body {
        header {
            #video {
                width: 100%;
                height: 860px;
            }
        }
    }
}

@media screen and (max-width: 1110px) {
    body {
        header {
            #video {
                height: 600px;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    body {
        header {
            #video {
                #fadeText {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 926px) {
    body {
        header {
            #video {
                height: 500px;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    body {
        header {
            #video {
                height: 400px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    body {
        header {
            #video {
                height: 300px;
            }
        }
    }
}

//! MAIN
@media screen and (max-width:1400px) {
    body {
        main {
            .symbiosisText {
                p {
                    width: auto;
                    padding: 0 6%;
                }
            }
        }
    }
}

@media screen and (max-width:1312px) {
    body {
        main {
            .symbiosisText {
                p {
                    width: 900px;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    body {
        main {
            .imageContainer {
                background-size: 100% 100%;
            }
        }
    }
}

@media screen and (max-width:1025px) {
    body {
        main {
            .imageContainer {
                background-size: auto 100%;
                background-position: center;
            }
        }
    }
}

@media screen and (max-width:911px) {
    body {
        main {
            .symbiosisText {
                h1 {
                    font-size: 30px;
                }

                p {
                    width: 600px;
                }
            }
        }
    }
}

@media screen and (max-width:797px) {
    body {
        main {
            .imageContainer {
                background-size: 100% 100%;
                height: 400px;
            }
        }
    }
}

@media screen and (max-width:622px) {
    body {
        main {
            .imageContainer {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width:604px) {
    body {
        main {
            .symbiosisText {
                h1 {
                    font-size: 24px;
                }

                p {
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width:504px) {
    body {
        main {
            .symbiosisText {
                p {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:468px) {
    body {
        main {
            .imageContainer {
                height: 220px;
            }
        }
    }
}

//! FOOTER
@media screen and (max-width: 1400px) {
    body {
        footer {
            #footerTop {
                padding: 30px 10%;
            }

            form {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 1067px) {
    body {
        footer {
            form {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 40px;

                    &::before {
                        left: 39%;
                    }
                }
            }

            form {
                flex-direction: column-reverse;

                #formRight,
                #formLeft {
                    width: 100%;
                    border: none;
                }

                #formRight {
                    height: 300px;
                    flex-direction: row;
                    flex-wrap: wrap;

                    #sendUsAMessageText {
                        display: none;
                    }

                    .info {
                        width: 45%;
                    }

                    #socialMedias {
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 621px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 30px;

                    &::before {
                        left: 39%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 561px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 30px;

                    &::before {
                        left: 34%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 533px) {
    body {
        footer {
            form {
                #formRight {
                    height: auto;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 30px 10px;

                    #sendUsAMessageText {
                        display: none;
                    }

                    .info {
                        align-items: center;
                        width: 100%;

                        p {
                            text-align: center;
                        }
                    }

                    #socialMedias {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 401px) {
    body {
        footer {
            #footerTop {
                h1 {
                    font-size: 26px;

                    &::before {
                        left: 28%;
                    }
                }
            }
        }
    }
}